@import "../../styles/mixin.scss";
.sectionWrapper {
  padding: 12rem;

  .container {
    max-width: 120rem;
    margin: 0 auto;
    background-color: #fafafa;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    padding: 2rem;

    h1 {
      font-family: "Inter", sans-serif;
      @include responsive-custom(43.75em) {
        text-align: center;
      }

      @include responsive-custom(31.25em) {
        font-size: 2.2rem;
      }
    }

    .gridWrapper {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
      gap: 1rem;
      row-gap: 2rem;

      a {
        position: absolute;
        bottom: 1rem;
        text-decoration: none;
        color: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        padding: 1rem;
        background-color: #6d28d9;
        border-radius: 1rem;
        font-size: 1.4rem;
      }
      .image {
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #ddd;
        background-position: center;
        background-color: #c4b5fd;
        position: relative;
        width: 100%;
        height: 40rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .deleteImage {
          position: absolute;
          top: 1rem;
          right: 1rem;
          cursor: pointer;
          background-color: #fff;
          padding: 0.5rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 0.2s;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      @include responsive-custom(43.75em) {
        justify-content: center;
      }
      & > * {
        max-width: 20rem;
        max-height: 20rem;
        object-fit: cover;
        border-radius: 1rem;
        align-self: center;
        justify-self: center;
        border-radius: 1rem;
        overflow: hidden;
      }

      img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.modalRemoveImage {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btnWrapper {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;

  button {
    padding: 1rem 2.4rem;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.6rem;
  }
}
