.notFoundPage {
  padding: 3rem;

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #7c3aed;
    font-size: 2rem;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
