.form {
  height: 40rem;

  .uploud {
    background-color: #fafbfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed #2b2c39;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: #f2f4fc;
    }

    svg {
      font-size: 5rem;
    }
    h2 {
      font-family: Inter;
      margin: 2rem 0;
    }
    p {
      font-size: 1.6rem;
      font-weight: 600;

      span {
        color: #5d57ff;
      }

      &:last-child {
        font-weight: 400;
        color: #888;
        font-family: Montserrat;
        font-size: 1.4rem;
        margin: 1rem 0;
      }
    }
  }

  .hide_input {
    display: none;
  }
}
