.form {
	height: 40rem;

	.uploud {
		background-color: #fafbfc;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px dashed #2b2c39;
		border-radius: 10px;
		height: 100%;
		width: 100%;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background-color: #f2f4fc;
		}

		svg {
			font-size: 5rem;
		}
		h2 {
			font-family: Inter;
			margin: 2rem 0;
		}
		p {
			font-size: 1.6rem;
			font-weight: 600;

			span {
				color: #5d57ff;
			}

			&:last-child {
				font-weight: 400;
				color: #888;
				font-family: Montserrat;
				font-size: 1.4rem;
				margin: 1rem 0;
			}
		}
	}

	.hide_input {
		display: none;
	}
}

// Generator section
.generator {
  margin: 0 auto;
  width: 100%;

  span {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    cursor: pointer;
  
    &:hover {
      opacity: .6;
    }
  }

  .promptWrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .image {
      background-image: url('../../../assets/transparent_image_bg.jpg');
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
      border: 1px solid #fff;
      overflow: hidden;

      img {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       cursor: pointer;
      }
    }
    
    .form {
      width: 100%;

      textarea {
        resize: none;
        border: 1px solid #eee;
        width: 100%;
        height: 100%;
      }
    }
  }
}