.folder {
  height: 20rem;
  border-radius: 6px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
  z-index: 1;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 5rem;
    color: #888;
  }
  .first_box,
  .second_box {
    position: absolute;
    border-radius: 6px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 0;
    height: 80%;
  }

  .first_box {
    background-color: #edeef3;
    top: -8px;
    width: 90%;
  }

  .second_box {
    background-color: #f3f4f7;
    top: -14px;
    width: 80%;
  }

  img {
    width: 100%;
    position: absolute;
    border-radius: 6px;
    height: 80%;
  }

  div {
    position: absolute;
    font-size: 1.3rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem 1rem;
  }

  &:hover {
    -webkit-box-shadow: 0px 6px 33px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 33px -18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 6px 33px -18px rgba(0, 0, 0, 0.75);
  }

  span {
    &:last-child {
      color: #888;
      font-size: 1rem;
    }
  }
}
