.folder {
  height: 20rem;
  border-radius: 6px;
  position: relative;
  transition: .2s;
  cursor: pointer;
  img {
    width: 100%;
    position: absolute;

    height: 80%;
  }

  div {
    position: absolute;
    font-size: 1.3rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .7rem 1rem;
  }

  &:hover {
    -webkit-box-shadow: 0px 6px 33px -18px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 33px -18px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 33px -18px rgba(0,0,0,0.75);
  }
}
