@import "../../../styles/mixin.scss";

.generator {
  margin: 0 auto;
  width: 100%;

  .chooseFile {
    position: absolute;
    top: 0;
    z-index: 999;
    transform: translateY(-3rem);
    border: none;
    outline: none;
    background-color: transparent;
    color: #6d28d9;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .promptWrapper {
    background-image: url("../../../assets/transparent_image_bg.jpg");
    height: 40rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include responsive-custom(81.25em) {
      width: 40rem;
      height: 40rem;
    }

    @include responsive-custom(51.42em) {
      width: 32rem;
      height: 32rem;
    }
    @include responsive-custom(36.25em) {
      width: 100%;
    }

    .image {
      border-radius: 5px;
      background-image: url("../../../assets/transparent_image_bg.jpg");
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      background-position: center;
      width: 40rem;
      height: 40rem;
      border: 1px solid #fff;
      overflow: hidden;
      @include responsive-custom(81.25em) {
        width: 40rem;
        height: 40rem;
      }
      @include responsive-custom(51.42em) {
        width: 32rem;
        height: 32rem;
      }

      @include responsive-custom(36.25em) {
        width: 100%;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    .generateBtn {
      padding: 1.5rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-family: Montserrat;
      font-weight: bold;
      color: #fff;
      background-color: #6d28d9;
      width: 100%;
      cursor: pointer;
      transition: 0.2s;
      position: absolute;
      bottom: -18rem;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .outputWrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40rem;
    height: 40rem;

    @include responsive-custom(81.25em) {
      width: 40rem;
      height: 40rem;
    }

    @include responsive-custom(51.42em) {
      width: 32rem;
      height: 32rem;
    }

    @include responsive-custom(36.25em) {
    }
  }
}

.panelsWrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;

  @include responsive-custom(36.25em) {
    flex-direction: column;

    align-items: center;
    gap: 7rem;
  }
}

.outputLink {
  position: relative;
  display: block;
  transition: all 0.2s ease;
  &:hover .outputOverlay {
    opacity: 1;
  }

  .outputOverlay {
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;

    font-size: 2rem;
    text-align: center;

    letter-spacing: 3px;
  }
}

.fillPlaceholder {
  width: 40rem;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
  font-size: 7rem;
  color: #737373;

  @include responsive-custom(81.25em) {
    width: 40rem;
    height: 40rem;
  }

  @include responsive-custom(51.42em) {
    width: 32rem;
    height: 32rem;
  }

  @include responsive-custom(36.25em) {
    width: 100%;
  }
}

.toggleBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 2rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 6px;

  &:hover {
    opacity: 0.7;
  }
}

.sizePanelWrapper {
  position: absolute;
  width: 100%;
  bottom: -12rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  span {
    grid-column: 1 / -1;
  }

  gap: 1rem;
  div {
    padding: 1rem;
    background-color: #f5f3ff;
    border: 1px solid #f5f3ff;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }
}

.selected {
  border-color: #5c27d4 !important;
}

.isCustom {
  border-color: #5c27d4 !important;
}

.operationWrapper {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  button {
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #5c27d4;
    color: #fff;
    font-size: 1.4rem;
    padding: 1rem;
    cursor: pointer;
  }
  a {
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #5c27d4;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    cursor: pointer;
  }
  & > * {
    flex-grow: 1;
  }
}

.disabledBtn {
  background-color: rgba(#5c27d4, 0.6) !important;
  opacity: 0.9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.customSizeModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  form {
    width: 40rem;
    input {
      width: 100%;
      display: block;
      margin: 1rem 0;
      padding: 1rem;
      border-radius: 5px;
      outline: none;
      border: 1px solid #ddd;
    }

    button {
      width: 100%;
      padding: 1rem;
      background-color: #5c27d4;
      cursor: pointer;
      color: #fff;
      font-weight: bold;
      font-family: Montserrat;
      border: 0;
      border-radius: 6px;
      transition: 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
