.generator {
  margin: 0 auto;
  width: 100%;

  span {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  .promptWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    height: 40rem;
    .image {
      border-radius: 5px;
      background-image: url("../../../assets/transparent_image_bg.jpg");
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      background-position: center;
      width: 40rem;
      height: 40rem;
      border: 1px solid #fff;
      overflow: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      gap: 1rem;

      textarea {
        resize: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        padding: 1rem;
        font-family: Montserrat;
        line-height: 1.8;
      }

      button {
        padding: 1.5rem;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-family: Montserrat;
        font-weight: bold;
        color: #fff;
        background-color: #6d28d9;
        width: 100%;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .output {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 40rem;
    height: 40rem;
  }
}
