.createFolderPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  width: 100%;
  font-family: Montserrat;
}

.closePanel {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 2.5rem;
  cursor: pointer;
  color: #d4d4d4;

  &:hover {
    opacity: .7;
  }
}

.creationPanel {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
  width: 100%;

  input {
    border: none;
    outline: none;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 3px;
  }

  button {
    border: none;
    outline: none;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 0.4rem;
    background-color: #262626;
    color: #f5f5f5;
    cursor: pointer;
    transition: .2s;

    &:hover {
      opacity: .7;
    }
  }
}
