.promptForm {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 90rem;
  input {
    width: 100%;
    outline: none;
    border: 1px solid #a3a3a3;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 1rem;
    font-size: 1.6rem;
    flex-basis: 80%;
    &::placeholder {
      color: #313131;
      font-weight: 600;
      font-size: 1.6rem;
      letter-spacing: 2px;
      text-align: center;
    }
  }

  button {
    font-family: "Inter", sans-serif;
    flex-basis: 20%;
    cursor: pointer;
    font-weight: 700;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    border: none;
    letter-spacing: 1px;
    outline: none;
    background-color: #313131;
    color: #ffff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .inputWrapper {
    display: flex;
  }
  img {
    width: 100%;
    border-radius: 1rem;
  }

  h1 {
    font-family: "Inter", sans-serif;
    color: #313131;
    font-size: 5rem;
    text-align: start;
    line-height: 1.3;

    margin-bottom: 2rem;
    letter-spacing: 1px;
    font-size: 5rem;
    span {
      background: linear-gradient(
        to right,
        #ebbdf2,
        #a6a5f7,
        #99bafb
      ); /* Change the colors to your preference */
      -webkit-background-clip: text;
      color: transparent;
      font-size: 6rem;
    }
  }
}
