.addFolder {
  border: none;
  width: 100%;
  outline: none;
  color: #a3a3a3;
  svg {
    font-size: 3rem;
  }
  cursor: pointer;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 6px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 1.4rem;
    font-weight: 300;
  }

  &:hover {
    opacity: .7;
  }
}
